# c++
*.o
*.lo
*.la
m4/
build/
.deps/
.dirstamp
.libs/
test/libsdbus-c++_unittests
test/libsdbus-c++_integrationtests
test/run-test-on-device.sh

#eclipse
.cproject
.settings
*.log

#autotools
sdbus-cpp.pc
*Makefile
*Makefile.in
aclocal.m4
arm-poky-linux-gnueabi-libtool
autom4te.cache
configure
config.h
config.status
config.guess
config.h.in
config.sub
compile
depcomp
install-sh
ltmain.sh
missing
stamp-h1
test-driver
.autotools
.gdbinit
sdbus-cpp_gdb_arm-poky-linux-gnueabi.launch
sdbus-c++.pc
